/**
* Setup for root and other stuff
**/

:root {
  font-size: 16px;
  padding: 0;
  margin: 0;

  /** 
	* Global colors
	**/

  --box: rgb(0, 110, 140);
  --preview-box: rgba(0, 110, 140, 0.85);
  --button-color: rgb(190, 125, 15);
}

.logotype {
  width: 80px;
}

.header-1,
.header-2,
.header-3,
.header-4,
.header1,
.header2,
.header3,
.header4 h1,
h2,
h3,
h4,
p,
em,
quoteblock {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header-1,
.header1 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.headline {
  color: #000;
  background-color: #fff;
  margin-bottom: 50px;
}

.headline > .header2 {
  padding: 10px;
}
