.box__dragndrop,
.box__uploading,
.box__success,
.box__error,
.box__button,
.box__container__preview-image,
.box__empty-image,
.box__tools, 
.trigger-open-file-input.hide-me,
.add-to-cart,
.box__adding {
  display: none;
}

.add-to-cart.show {
  display: block;
}

.box__tools.show {
  display: grid;
}

.box__container__preview-image.show {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}


.box__container__preview-image.show > * {
  margin: 0.25%;
  height: 100%;
}

.box__file {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}


label.trigger-open-file-input,
.box {
  cursor: pointer;
}

.box.has-advanced-upload {
  position: relative;
  background-color: #fff;
  height: 600px;
}

.box.has-advanced-upload.border {
  outline: 2px dashed #000;;
  outline-offset: -3px;

}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}

@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

/**
* Blinking effect
**/


.box__uploading.show,
.box__adding.show,
.box__empty-image.show,
label.trigger-open-file-input {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  font-family: 'Abel', sans-serif;
}

.box__uploading.show span,
.box__adding.show span {
  /**
  * Use the blink animation, which is defined above
  */
  animation-name: blink;
  /**
  * The animation should take 1.4 seconds
  */
  animation-duration: 1.4s;
  /**
  * It will repeat itself forever
  */
  animation-iteration-count: infinite;
  /**
  * This makes sure that the starting style (opacity: .2)
  * of the animation is applied before the animation starts.
  * Otherwise we would see a short flash or would have
  * to set the default styling of the dots to the same
  * as the animation. Same applies for the ending styles.
  */
  animation-fill-mode: both;
}

.box__adding.show {
  color: rgba(0,110,140, 0.85);
  text-shadow: 1px 2px 3px #000;
}

.box__uploading.show span:nth-child(2),
.box__adding.show span:nth-child(2), {
  animation-delay: .2s;
}

.box__uploading.show span:nth-child(3),
.box__adding.show span:nth-child(2), {
  animation-delay: .4s;
}

.box__tools__grid {
  background-color: rgba(0,0,0,0.5);
}

/** Range styling **/
.range > input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 20px 0;
}
.range > input[type=range]:focus {
  outline: none;
}
.range > input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: var(--preview-box);
  border: 2.3px solid transparent;
}
.range > input[type=range]::-webkit-slider-thumb {
  border: 5px solid var(--preview-box);
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: var(--button-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.65px;
}
.range > input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--preview-box);
}
.range > input[type=range]::-moz-range-track {
  width: 100%;
  height: 13.3px;
  cursor: pointer;
  background: var(--preview-box);
  border-radius: 25px;
  border: 2.3px solid #dbd58f;
}
.range > input[type=range]::-moz-range-thumb {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: #ffff7d;
  cursor: pointer;
}
.range > input[type=range]::-ms-track {
  width: 100%;
  height: 13.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range > input[type=range]::-ms-fill-lower {
  background: var(--preview-box);
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
}
.range > input[type=range]::-ms-fill-upper {
  background: var(--preview-box);
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
}
.range > input[type=range]::-ms-thumb {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: #ffff7d;
  cursor: pointer;
  height: 13.3px;
}
.range > input[type=range]:focus::-ms-fill-lower {
  background: var(--preview-box);
}
.range > input[type=range]:focus::-ms-fill-upper {
  background: var(--preview-box);
}


/* Instructions */

.instructions {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  color: #fff;
}

.instructions > h3 {
  margin-bottom: 10px;
}

.file-uploader {
  padding: 4rem 0;
}

.cm, 
.amounts {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 2rem;
}


/** Add to cart **/
.add-to-cart {
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}
.add-to-cart-button {
  border: 1px solid #fff;;
  background-color: var(--button-color);
  color: #fff;
  margin-bottom: 20px;
}