footer {
  border-top: 1px solid #000;
}

.cookie-container > .cookie-text {
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: var(--preview-box);
  color: white;
  padding: 10px;
  width: 100%;
}

.cookie-container > .cookie-text > p {
  padding: 25px;
  width: auto;
  float: left;
}

.cookie-container.cookie-set {
  display: none;
}

.information-on-likeink .left,
.information-on-likeink .middle,
.information-on-likeink .right {
  width: 100%;
}

.desktop-social-media {
  padding: 20px;
}

.information-on-likeink {
  border-top: var(--button-color) 1px solid;
  padding: 20px 0;
  background-color: var(--preview-box);
}
