.sale-pitch {
  background-color: black;
  position: fixed;
  width: 100%;
  color: white;
  z-index: 5;
}
.sale-pitch > .pitch {
  padding: 10px;
  text-align: right;
}

.desktop {
  display: none;
}

.center-small,
.center,
.center-large {
  margin: 0 auto;
  width: auto;
}

[class*="columns"] {
  display: flex;
}

.columns-4,
.columns-2 {
  flex-direction: row;
  flex-wrap: wrap;
}

.columns-4 > *,
.columns-3 > *,
.columns-2 > * {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.result.columns-4 > * {
  margin-top: 0;
  margin-bottom: 0;
}

.hero-container {
  top: 50%;
  transform: translateY(-50%);
}

.ark,
.price,
.discount,
.your-price {
  padding: 20px 0;
}

.fa-phone:visited,
.fa-instagram:visited,
.fa-youtube:visited,
.fa-facebook:visited,
.fa-phone:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-facebook:hover,
.fa-phone:focus,
.fa-instagram:focus,
.fa-youtube:focus,
.fa-facebook:focus {
  color: var(--button-color);
}

.fa-phone,
.fa-instagram,
.fa-youtube,
.fa-facebook {
  transition: color 250ms ease-in-out;
  padding: 10px;
  font-size: 40px;
  color: var(--box);
}

.big-letters {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

.woocommerce > *:first-child {
  padding: 100px 50px;
}

.menu-button > label {
  position: absolute;
  right: 10px;
  top: 20px;
}

.sale-pitch .pitch {
  padding: 13px;
}
.sale-pitch .pitch > p {
  font-size: 11px;
}

header {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  top: 50px;
  z-index: 2;
}

.mobile-social-media {
  display: block;
}

.desktop-social-media {
  display: none;
}

@media (min-width: 353px) and (max-width: 487px) {
  header {
    top: 38px;
  }
}

@media (min-width: 488px) {
  header {
    top: 38px;
  }
}

@media (min-width: 1px) and (max-width: 600px) {
  .ark {
    border-bottom: 2px solid #000;
  }
  .discount {
    border-bottom: 2px solid #000;
  }
  .price {
    border-bottom: 2px solid #000;
  }

  .big-letters {
    font-size: 1.8em;
  }
}

@media (min-width: 601px) {
  header {
    top: 38px;
  }
  .big-letters {
    font-size: 4.5em;
  }

  .fa-phone,
  .fa-instagram,
  .fa-youtube,
  .fa-facebook {
    padding: 10px;
  }

  .result.columns-4 > * {
    margin: 0;
  }

  .ark {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  .discount {
    border-right: 2px solid #000;
  }
  .price {
    border-bottom: 2px solid #000;
  }

  .center-small {
    width: 300px;
  }

  .columns-4 > * {
    width: 49%;
    margin: 2px;
  }

  .columns-2 > * {
    width: 43%;
    margin: 0 5px;
  }

  .columns-2 > *:first-child {
    margin-left: 0;
  }

  .columns-2 > *:last-child {
    margin-right: 0;
  }

  .columns-2 {
    flex-wrap: nowrap;
  }

  .almost-there > h3 {
    width: 100%;
    margin-bottom: 25px;
  }
}

@media (min-width: 769px) and (max-width: 899px) {
  /* Special fix for cart page*/
  .cart .columns-2 > * {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .almost-there > h3 {
    width: 60%;
  }

  .center-small {
    width: 500px;
  }

  .center {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .ark {
    border-right: 2px solid #000;
    border-bottom: 0px solid #000;
  }
  .discount {
    border-right: 2px solid #000;
    border-bottom: 0px solid #000;
  }
  .price {
    border-right: 2px solid #000;
    border-bottom: 0px solid #000;
  }

  .columns-3 > * {
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
  }

  .columns-4 > * {
    width: 23%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
  }

  .columns-4 > *:first-child {
    margin-left: 0;
  }

  .columns-4 > *:last-child {
    padding-right: 0;
  }

  .product-thumbnail:nth-child(4),
  .product-thumbnail:nth-child(8) {
    padding-right: 0;
  }

  .product-thumbnail:nth-child(n + 5) {
    padding-top: 10px;
  }

  .center-small {
    width: 500px;
  }
  .center {
    width: 900px;
  }
  .center-large {
    width: 1200px;
  }
}

@media (min-width: 1366px) {
  .desktop-social-media {
    display: block;
  }
  .mobile-social-media {
    display: none;
  }
  .medias.columns-2 {
    flex-wrap: wrap;
  }

  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }

  .woocommerce > *:first-child {
    padding: 100px 0px;
  }
}

@media (min-width: 1800px) {
}

@media (min-width: 2560px) {
}

@media (min-width: 3840px) {
}
