.mini-cart {
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: 2px dashed black;
  border-left: 2px dashed black;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.mini-cart__container {
  position: relative;
}

.mini-cart__badge {
  position: absolute;
  background-color: var(--preview-box);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mini-cart__amount-of-product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

.woocommerce .center {
  background-color: #fff;
}

.woocommerce .center.container {
  padding: 20px;
}

.woocommerce .center > .cart-empty {
  margin-bottom: 20px;
}

.cart_totals {
  color: #000;
  font-size: inherit;
  width: inherit !important;
  float: none !important;
}

.button.alt {
  background-color: var(--button-color) !important;
}

.extra-info.center > .button {
  margin-top: 20px;
}

.cart_totals > h2 {
  margin-bottom: 25px;
}

.shop-more-button,
.shipping-text {
  margin-bottom: 25px !important;
}

.shop-more-button,
.update-cart-button {
  border: 1px solid var(--preview-box) !important;
}
