.contact-form .center > .container {
  padding: 50px 0;
}

.contact-form .col-2 {
  background-color: rgba(0, 0, 0, 0.5);
}

.info,
.contact {
  padding: 20px;
  color: #fff;
}

.wpcf7-form input,
.wpcf7-form .wpcf7-textarea {
  width: 100%;
  display: block;
  padding: 10px 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
  padding-left: 10px;
  opacity: 0.5;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  padding-left: 10px;
  opacity: 0.5;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
  padding-left: 10px;
  opacity: 0.5;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  padding-left: 10px;
  opacity: 0.5;
}
