.discount-slider .center > .container {
  padding: 50px 0;
}

.discount-slider .info {
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.range-per-cm {
  width: 100%;
  margin-bottom: 10px;
}


.result {
  background-color: #fff;
  border: black 2px solid;
}

.discount-color {
  background-color: var(--button-color);
  transition: 250ms all ease-in;
  display: block;
}

/** Range styling **/
.range-per-cm > input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 20px 0;
}
.range-per-cm > input[type=range]:focus {
  outline: none;
}
.range-per-cm > input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: var(--preview-box);
  border: 2.3px solid transparent;
}
.range-per-cm > input[type=range]::-webkit-slider-thumb {
  border: 5px solid var(--preview-box);
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: var(--button-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.65px;
}
.range-per-cm > input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--preview-box);
}
.range-per-cm > input[type=range]::-moz-range-track {
  width: 100%;
  height: 13.3px;
  cursor: pointer;
  background: var(--preview-box);
  border-radius: 25px;
  border: 2.3px solid #dbd58f;
}
.range-per-cm > input[type=range]::-moz-range-thumb {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: #ffff7d;
  cursor: pointer;
}
.range-per-cm > input[type=range]::-ms-track {
  width: 100%;
  height: 13.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-per-cm > input[type=range]::-ms-fill-lower {
  background: var(--preview-box);
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
}
.range-per-cm > input[type=range]::-ms-fill-upper {
  background: var(--preview-box);
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
}
.range-per-cm > input[type=range]::-ms-thumb {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: #ffff7d;
  cursor: pointer;
  height: 13.3px;
}
.range-per-cm > input[type=range]:focus::-ms-fill-lower {
  background: var(--preview-box);
}
.range-per-cm > input[type=range]:focus::-ms-fill-upper {
  background: var(--preview-box);
}
