.hero .content {
  text-align: center;
  padding: 10%;
  border: 4px solid #fff;
  margin-bottom: 30px;
}

.hero .hero-container {
  position: relative;
}

.hero {
  padding: 100px 50px 50px;
  height: calc(100vh - 140px);
}

.hero-button {
  margin-top: 50px;
}

.small-letters {
  font-size: 1.8em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

.big-letters,
.small-letters {
  color: #fff;
}

.button {
  background-color: rgb(190, 125, 15);
  border: #fff 4px solid;
  padding: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: 250ms ease-in all;
}

.button:hover,
.button:focus {
  background-color: rgba(190, 125, 15, 0.5);
}
