.multi-products .center > .container {
  padding: 50px 0;
}

.product-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}

.product-thumbnail .add-to-cart-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
}

