/** 
  Mobile menu 
**/

.menu-button > input[type="checkbox"] {
  display: block;
  position: absolute;
  top: -9999px;
  left: -9999px;
  /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}

/* Bar for menu */

.bar-1,
.bar-2,
.bar-3 {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
}

/* Toggled State */

.menu-button > input[type="checkbox"]:checked ~ label > span.bar-1.animate {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-button > input[type="checkbox"]:checked ~ label > span.bar-2.animate {
  opacity: 0;
}

.menu-button > input[type="checkbox"]:checked ~ label > span.bar-3.animate {
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu-container {
  position: relative;
}

.mobile .menu {
  position: absolute;
  right: -999px;
  top: 100px;
  transition: opacity 1s ease-out, right 500ms ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  background-color: var(--box);
  border-top: var(--button-color) 1px solid;
  border-left: var(--button-color) 1px solid;
  border-bottom: var(--button-color) 1px solid;
}

.mobile .menu li:first-child {
  margin-top: 0;
}

.mobile .menu li:last-child {
  margin-bottom: 0;
}

.mobile .menu li {
  margin: 10px;
}

.mobile .menu li a {
  color: white;
}

.mobile .menu.show {
  display: block;
  position: absolute;
  width: 100%;
  top: 68px;
  right: 0;
  opacity: 1;
  height: auto;
}

/**
  Desktop
**/

.desktop:hover,
.desktop:focus {
  background: rgba(255, 255, 255, 0.75);
}

.desktop ul {
  margin: 0;
  padding: 0;
}

.desktop ul li {
  float: left;
  padding-left: 10px;
  list-style: none;
}

.desktop ul li:first-child {
  padding-left: 0px;
}

.desktop .menu-main-menu-sv-container,
.desktop .menu-main-menu-en-container {
  background: rgba(0, 110, 140, 0.85);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.desktop .menu-main-menu-sv-container a,
.desktop .menu-main-menu-en-container a {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 250ms ease-in;
}

.desktop .menu-main-menu-sv-container a:hover,
.desktop .menu-main-menu-sv-container a:focus,
.desktop .menu-main-menu-en-container a:hover,
.desktop .menu-main-menu-en-container a:focus {
  text-decoration: underline;
}
